.item {
  list-style-type: none;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--fg) !important;
  outline: none;
  padding: 12px 0;
  cursor: pointer;
}

.wrapper {
  display: flex;
}

.wrapper .date {
  font-size: 1rem;
  color: var(--gray);
}

.date + div {
  flex: 1;
}

.link:hover .title,
.link:focus .title,
.link:hover .icon,
.link:focus .icon {
  color: var(--fg);
}

.title {
  word-break: break-word;
  margin: 0;
  line-height: 1.5;
  font-size: 1.15rem;
}

.wrapTitle {
  display: inline-flex;
  gap: .5rem;
}

@media (max-width: 600px) {
  .title {
    -webkit-line-clamp: 2;
    font-size: 1.1rem;
  }
}
