:root {
  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap-three-q: 0.75rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --small-gap: 2rem;
  --big-gap: 4rem;
  --main-content: 48rem;
  --radius: 4px;
  --inline-radius: 5px;
  --header-height: 42px;

  /* Typography */
  /* --font-sans: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Roboto',
    'Helvetica Neue', sans-serif; */
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  --highlight-background-color--normal: hsl(50deg 100% 50% / 15%);
  --highlight-background-color-underline: hsl(50deg 100% 50% / 100%);
  --highlight-background-color--active: hsl(50deg 100% 50% / 20%);
  
  /* Transitions */
  --transition: 0.1s ease-in-out;
  --transition-slow: 0.3s ease-in-out;

  /* Theme switcher icon colors */
  --icon-moon-color: #324158;
  --icon-sun-color: #c5ccdB;

  /* Dark Mode Colors */
  --bg: #0d1117;
  /* --bg: #151C1E; */
  --bg2: #20202a;
  /* --bg2: #1e2528; */
  --fg: #fafbfc;
  --gray: silver;
  --light-gray: #363647;
  --lighter-gray: var(--bg2);
  --lightest-gray: #20252d; /* remove */

  --gray-alpha: rgba(255, 255, 255, 0.5);
  --selection: rgba(255, 255, 255, 0.88);
  --link: #9ca0fa;
  --nav-link: #fff;

  /* --icon-github-color: #e5e8ee;
  --icon-mail-color: #CDCFFC;
  --icon-rss-color: #CDFCFA;
  --icon-buy-me-a-coffee-color: #F9F596; */

  --icon-generic-color: #7b7d7f;

  /* Syntax Highlighting */
  --highlight: #282a36;
}

[data-theme='light'] {
  --bg: #eff1f5;
  --bg2: #e6e9ef;
  --fg: #363647;
  --gray: gray;
  --light-gray: #ccd0da;
  --lighter-gray: var(--bg2);
  --lightest-gray: rgb(245, 245, 245); /* remove */
  --gray-alpha: rgba(19, 20, 21, 0.5);
  --selection: rgba(0, 0, 0, 0.99);
  --link:  #947AFF;

  --highlight: #dce0e8;
  --nav-link: black;

  /* --icon-github-color: #19212d;
  --icon-mail-color: #a994ff;
  --icon-rss-color: #54ded8;
  --icon-buy-me-a-coffee-color: #E5C600; */
}

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--selection);
  color: var(--bg);
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.45rem;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  height: 100vh;
  /* font-family: var(--font-inter); */
  display: flex;
  flex-direction: column;
  position: relative;
}

p,
li {
  font-size: 1.1rem;
}

li {
  list-style: none;
}

ol li {
  list-style: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--font-sans); */
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: .9rem;
}

h6 {
  font-size: .8rem;
}

hr {
  border: none;
  border-bottom: 1px solid var(--light-gray);
  /* width: 50%; */
  padding: 16px 0;
  margin-bottom: 2rem;
}

blockquote {
  margin: 0;
  padding: 0.1rem 1rem;
  border-left: 3px solid var(--link);
  background-color: var(--bg2);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
}

p a,
article a,
a.reset {
  outline: none;
  color: var(--link);
  text-decoration: none;
  transition: background-color var(--transition), color var(--transition);
}

p a:hover,
article a:hover,
a.reset:hover {
  color: var(--link);
  text-decoration: underline;
}

ul {
  margin: 0;
  margin-left: -2.5rem;
}

p > code,
h1 > code,
h4 > code {
  background-color: var(--highlight);
}

p + ul > li {
  list-style: circle;
  margin-left: 1rem;
}

/* Reset list items indentation for toc */
h2 + ul li {
  margin-left: 1.5rem;
  list-style-type: unset;
}

pre,
code {
  font-family: var(--font-mono);
}

summary {
  outline: none;
  cursor: pointer;
}

details {
  border: 1px solid var(--bg);
  padding: 1rem;
  border-radius: var(--radius);
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid gray;
  padding: 8px;
}

mark {
  background-image: linear-gradient(
    0deg,
    var(--highlight-background-color-underline) 0%,
    var(--highlight-background-color-underline) 2px,
    var(--highlight-background-color--active) 2px,
    var(--highlight-background-color--active) 100%
  );
  background-color: var(--highlight-text-color--active);
  color: var(--fg);
}

.footnotes > ol > li {
  list-style: revert;
  font-size: small;
}

.text-center {
  text-align: center;
}

@media print {
  :root {
    --bg: #fff;
    --fg: #000;
    --gray: #888;
    --light-gray: #ccd0da;
    --lighter-gray: #f5f5f5;
    --lightest-gray: #fafafa;
    --gray-alpha: rgba(19, 20, 21, 0.5);
    --selection: rgba(0, 0, 0, 0.99);
    --highlight: #eaeaea;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media screen and (max-width: 768px) {
  p, li {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }
}
