:root {
  /* Spacing */
  --gap-half: 0.5rem;
  --gap-three-q: 0.75rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --main-content: 48rem;
  --radius: .25rem;
  --header-height: 42px;

  /* Typography */
  /* --font-sans: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Roboto',
    'Helvetica Neue', sans-serif; */
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  --highlight-bg: #E7DA9C;

  /* Transitions */
  --transition: 0.1s ease-in-out;
  --transition-slow: 0.3s ease-in-out;

  /* Theme switcher icon colors */
  --icon-moon-color: #324158;
  --icon-sun-color: #c5ccdB;

  /* Dark Mode Colors */
  --bg: #121318;
  --bg-2: #1D1F27;
  --fg: #fafbfc;
  --gray: #a3a7ba;
  --gray-1: #494D61;
  --gray-2: #363647;
  --selection: rgba(255, 255, 255, 0.88);
  /* --link: #b1bbec; */
  --link: #9CA9E7;
  --icon-generic-color: #7b7d7f;

  /* Syntax Highlighting */
  --highlight: #282a36;
}

[data-theme='light'] {
  --bg: #eff1f5;
  --bg-2: #e6e9ef;
  --fg: #363647;
  --gray: gray;
  --gray-2: #ccd0da;
  --gray-alpha: rgba(19, 20, 21, 0.5);
  --selection: rgba(0, 0, 0, 0.99);
  --link:  #947AFF;
  --highlight: #dce0e8;
}

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--selection);
  color: var(--bg);
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.45rem;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  height: 100vh;
  /* font-family: var(--font-inter); */
  display: flex;
  flex-direction: column;
  position: relative;
}

p,
li {
  font-size: 1.1rem;
}

li {
  list-style: none;
}

ol li {
  list-style: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--font-sans); */
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: .9rem;
}

h6 {
  font-size: .8rem;
}

hr {
  border: none;
  border-bottom: 1px solid var(--light-gray);
  /* width: 50%; */
  padding: 16px 0;
  margin-bottom: 2rem;
}

blockquote {
  margin: 0;
  padding: 0.1rem 1rem;
  border-left: 3px solid var(--link);
  background-color: var(--bg-2);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
}

p a,
article a,
a.reset {
  outline: none;
  color: var(--link);
  text-decoration: none;
  transition: background-color var(--transition), color var(--transition);
}

p a:hover,
article a:hover,
a.reset:hover {
  color: var(--link);
  text-decoration: underline;
}

ul {
  margin: 0;
  margin-left: -2.5rem;
}

p > code,
h1 > code,
h4 > code {
  background-color: var(--highlight);
}

p + ul > li {
  list-style: circle;
  margin-left: 1rem;
}

/* Reset list items indentation for toc */
h2 + ul li {
  margin-left: 1.5rem;
  list-style-type: unset;
}

pre,
code {
  font-family: var(--font-mono);
}

[data-bright-theme] {
  border: 2px solid var(--gray-2);
  border-radius: 2px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

summary {
  outline: none;
  cursor: pointer;
}

details {
  border: 1px solid var(--bg);
  padding: 1rem;
  border-radius: var(--radius);
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid gray;
  padding: 8px;
}

mark {
  background-color: var(--highlight-bg);
}

/* See https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/mark#accessibility */
mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

mark::before {
  content: " [highlight start] ";
}

mark::after {
  content: " [highlight end] ";
}

.footnotes > ol > li {
  list-style: revert;
  font-size: small;
}

.text-center {
  text-align: center;
}

@media print {
  :root {
    --bg: #fff;
    --fg: #000;
    --gray: #888;
    --gray-2: #ccd0da;
    --gray-alpha: rgba(19, 20, 21, 0.5);
    --selection: rgba(0, 0, 0, 0.99);
    --highlight: #eaeaea;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media screen and (max-width: 768px) {
  p, li {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }
}
