.nav {
  display: flex;
  gap: 14px;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: .125rem solid var(--bg2);
}

.nav a {
  text-decoration: none;
  color: var(--nav-link);
}

.nav a:hover {
  background-color: var(--fg);
  color: var(--bg);
}

.nav .activeLink {
  text-decoration: underline;
}