.nav {
  display: flex;
  gap: .9rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: .125rem solid var(--bg-2);
}

.nav a {
  text-decoration: none;
  color: var(--fg);
}

.nav a:hover {
  background-color: var(--fg);
  color: var(--bg);
}

.nav .activeLink {
  text-decoration: underline;
}

/* @media (max-width: 768px) {
  .nav {
    justify-content: space-between;
  }
} */