.footer {
  color: var(--gray);
  opacity: 0.5;
  text-align: center;
  position: sticky;
  top: 100vh;
}

.footer > p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .footer > p {
    font-size: .875rem;
  }
}