.container {
  max-width: var(--main-content);
  /* remove ul margins */
  margin: 0;
  padding: 0;
}

.filters {
  background-color: var(--bg);
  text-decoration: underline var(--link);
  padding: 0;
  text-align: right;
  border: none;
}

.filters > summary {
  margin-bottom: .5rem;
}

.tagsPills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 1rem;
}

.tagPill > button {
  background-color: var(--light-gray);
  padding: 4px 8px;
  border-radius: .35rem;
}

.tagPill > button:hover,
.tagPill > button:focus {
  background-color: var(--link);
  color: var(--bg);
  cursor: pointer;
}

.tagPill > button.activeBtn {
  background-color: var(--link);
  color: var(--bg);
}
