.note {
  border: 2px solid var(--gray-2);
  padding: 12px;
  border-radius: 12px;
}

.content {
  font-style: italic;  
}

.header {
  display: flex;
  gap: 4px;
}

.header > b {
  color: var(--gray);
}
