.heading {
  margin-top: 2rem;
  text-decoration: underline;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 45px;
}

.more {
  flex-basis: 100%;
}

.writingProjectList {
  display: grid;
  gap: 1rem;
}

.writingProjectList > li {
  list-style-type: none;
  margin-left: 0;
  background-color: var(--bg2);
  padding: .25rem 1rem;
}

.links {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
  }
}