.note {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid var(--link);
  padding: 1rem 2rem 0 2rem;
  background-color: var(--bg2);
}

.title h1 {
  margin-top: 0.75rem;
  color: #4c4f69;
  font-size: 2rem;
}

.tags {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  position: absolute;
  z-index: 1;
  top: 9rem;
  left: 23rem;
}

.tags > li {
  list-style: none;
  background-color: var(--bg2);
  color: var(--gray);
  padding: 2px 8px;
  font-size: 1rem;
  border: 1px solid var(--link);
}

@media screen and (max-width: 768px) {
  .tags > li {
    min-width: max-content;
  }

  .tags {
    flex-wrap: wrap;
    left: 2rem;
  }
}