.wrapper {
  position: relative;
  padding-bottom: var(--gap-double);
}

.main {
  max-width: var(--main-content);
  margin: 0 auto;
  padding: 0 var(--gap);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: var(--header-height);
  margin-bottom: calc(var(--header-height) / 2);
}

.headingText > * {
  margin: 0;
}

.headingText h1 {
  color: var(--link);
  font-size: 2rem;
  font-weight: 300;
}

.themeSwitcher {
  user-select: none;
  display: inline-flex;
  padding: var(--gap-three-q) 0;
  line-height: 50%;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.footer {
  margin-top: var(--gap-double);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .headingText h1 {
    font-size: 1.875rem;
  }

  .secondHeading {
    margin-top: var(--gap-half);
  }
}

.infoBanner {
  display: flex;
  background-color: var(--gray-2);
  justify-content: center;
  position: sticky;
  top: 0;
  padding: .25rem 1rem;
  z-index: 999;
  border-bottom: 2px solid var(--gray-1);
}