.wrapper {
  position: relative;
  height: 100%;
  padding-bottom: var(--small-gap);
}

.main {
  max-width: var(--main-content);
  margin: 0 auto;
  padding: 0 var(--gap);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: var(--header-height);
  margin-bottom: calc(var(--header-height) / 2.5);
}

.headingText > * {
  margin: 0;
}

.headingText h1 {
  color: var(--link);
  font-size: 2rem;
  font-weight: 300;
}

.themeSwitcher {
  user-select: none;
  display: inline-flex;
  padding: var(--gap-three-q) 0;
  line-height: 50%;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.footer {
  margin-top: var(--small-gap);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .headingText h1 {
    font-size: 1.875rem;
  }

  .secondHeading {
    margin-top: var(--gap-half);
  }
}
