.heading {
  display: flex;
  justify-content: space-between;
  margin-top: var(--header-height);
}

.headingText > * {
  margin: 0;
}

.headingText h1 {
  color: var(--link);
}

.footer {
  margin-top: var(--gap-double);
  display: flex;
  justify-content: space-between;
}

.heading2 {
  margin-top: 2rem;
}

.heading3 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-color: var(--link);
}

.ul > li > a > h4 {
  font-size: 1.1rem;
}

.underlineSvg {
  width: 175px;
  height: 10px;
}

.underlineSvgPath {
  fill: var(--link);
}

@media (max-width: 768px) {
  .heading {
    flex-direction: column;
  }
  .secondHeading {
    margin-top: var(--gap-half);
  }
  .underlineSvg {
    width: 140px;
  }
  .ul > li > a > h4 {
    font-size: 1rem;
  }
}
