.noteListContainer {
  grid-column-start: 1;
  grid-column-end: 3;
}

.noteList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.noteList > a, .glossaryList > a {
  border: 2px solid var(--gray);
  padding: 1rem;
  background-color: var(--bg-2);
  color: var(--gray);
  border-radius: var(--radius);
}

.glossaryList > a {
  border: 2px solid transparent;
  color: var(--fg);
  font-size: larger;
  line-height: normal;
}

.noteList > a:hover, .glossaryList > a:hover {
  color: var(--fg);
  border: 2px solid var(--link);
}

.noteListTitle {
  color: var(--gray);
}

.glossaryList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.noteList > a > span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.glossaryList > a > span > svg {
  margin-bottom: 2rem;
}

.glossaryDesc {
  color: var(--gray);
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .noteList, .glossaryList {
    grid-template-columns: repeat(1, 1fr);
  }
}