.noteListContainer {
  grid-column-start: 1;
  grid-column-end: 3;
}

.noteList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.noteList > a {
  border: 2px solid var(--gray);
  padding: 1rem;
  background-color: var(--bg-2);
  color: var(--gray);
  height: 8rem;
  border-radius: var(--radius);
}

.noteList > a:hover {
  color: var(--fg);
  border: 2px solid var(--link);
}

.noteListTitle {
  color: var(--gray);
}

@media screen and (max-width: 768px) {
  .noteList {
    grid-template-columns: repeat(1, 1fr);
  }
}