.project {
  background-color: var(--bg-2);
  border: 2px solid var(--gray-2);
  padding: 4px 12px;
  display: grid;
  grid-template-rows: 95px 95px 1fr 1fr;
  border-radius: var(--radius);
}

.writingProject {
  grid-template-rows: 150px 1fr;
}

.projectLinks, .projectLanguages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: 600;
  align-items: center;
  padding-bottom: 8px;
}

.projectLinks a:first-of-type {
  padding-left: 2px;
}

.link {
  display: flex;
  gap: 8px;
  align-items: baseline;
  color: var(--link);
  text-decoration: none;
}

.languageList {
  display: flex;
  gap: 12px;
}

.language, .framework {
  color: var(--gray);
  background-color: var(--gray-2);
  max-width: fit-content;
  padding: 1px 8px;
}

.more {
  flex-basis: 100%;
}

@media screen and (max-width: 768px) {
  .project {
    grid-template-rows: auto;
  }
  .writingProject {
    grid-template-rows: .5fr 1fr;
  }
}