.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.noteBlock {
  min-height: max-content;
  border: 1.25px solid var(--gray);
  background-color: var(--bg2);
  padding: 1.5rem;
  border-radius: var(--radius);
}

.noteBlock:hover {
  border: 1.25px solid var(--link);
}

.noteBlock > span {
  color: var(--fg);
  /* text-transform: capitalize; */
}



@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}