.transition {
  transition: box-shadow 80ms cubic-bezier(0.01, 0.88, 0.93, 0.07) 0s;
  will-change: box-shadow;
}

.link {
  text-decoration: none;
  color: var(--link);
}
.link h4:hover {
  text-decoration: underline;
}
